anyio==4.12.1
enum-tools==0.13.0
playwright==1.60.0
pypdf==6.14.2
wcwidth==0.8.1
requests==2.32.5
exceptiongroup==1.3.1
starlette==0.49.3
pydantic_core==2.46.4
setuptools==82.0.1
matplotlib==3.9.4
cssselect==1.3.0
greenlet==3.2.5
eval_type_backport==0.4.0
platformdirs==4.4.0
readability-lxml==0.8.4.1
tomli==2.4.1
GitPython==3.1.50
packaging==26.2
click==8.1.8
charset-normalizer==3.4.9
numpy==2.0.2
kiwisolver==1.4.7
wandb==0.26.1
contourpy==1.3.0
certifi==2026.6.17
h11==0.16.0
protobuf==6.33.6
gitdb==4.0.12
smmap==5.0.3
lxml==6.1.1
Pygments==2.20.0
fastapi==0.128.8
python-dateutil==2.9.0.post0
PyYAML==6.0.3
fonttools==4.60.2
sortedcontainers==2.4.0
pytest==8.4.2
chardet==5.2.0
lxml_html_clean==0.4.5
urllib3==2.6.3
cramjam==2.11.0
typing_extensions==4.15.0
zipp==3.23.1
pyflakes==3.4.0
cycler==0.12.1
uvicorn==0.39.0
pyparsing==3.3.2
sigfig==1.3.19
pluggy==1.6.0
pydantic==2.13.4
numbers-parser==4.16.3
compact-json==1.8.2
pillow==11.3.0
sentry-sdk==2.64.0
git-filter-repo==2.47.0
argparse-dataclass==2.0.0
pyee==13.0.1
python-snappy==0.7.3
iniconfig==2.1.0
idna==3.18
typing-inspection==0.4.2
annotated-types==0.7.0
importlib_resources==6.5.2
annotated-doc==0.0.4
future==0.18.2
six==1.15.0
wheel==0.37.0
altgraph==0.17.2
pip==21.2.4
macholib==1.15.2
setuptools==58.0.4
